**/.dockerignore
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/bin
**/obj
**/out
**/dist
**/node_modules
**/wwwroot/lib
LICENSE
README.md
docker-compose*
**/*.db
**/*.sln
